[include]
  path = ~/.gitconfig.private
[alias]
	lol = log --graph --decorate --pretty=format:'%C(auto) %h %D %s - author: %Cblue %an' --abbrev-commit
    lola = log --graph --decorate --pretty=format:'%C(auto) %h %D %s - author: %Cblue %an' --abbrev-commit --all
	st = status
	ci = commit
	co = checkout
	br = branch
	last = log -1 HEAD
	unstage = reset HEAD --
[push]
	default = matching
[core]
	editor = /usr/bin/vim
[color]
	ui = true
[user]
	name = Shaked Klein Orbach - RG
