[include] 
  path = ~/.gitconfig.private
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	last = log -1 HEAD
	unstage = reset HEAD --
[push]
	default = matching
[core]
	editor = /usr/bin/vim
